parameters:
    level: 9
    paths:
        - ./Modules/
    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class #'
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Tests/*
        - ./*/*.blade.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
