includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    # - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    level: 9

    #cache:
    #    nodesByStringCountMax: 0
    parallel:
        maximumNumberOfProcesses: 32
        jobSize: 20
        minimumNumberOfJobsPerProcess: 2


	#

    paths:
        - ./Modules
        - ./Themes

    ignoreErrors:
    #    - '#Unsafe usage of new static#'
        - '#PHPDoc tag @mixin contains unknown class #'
        - '#Static call to instance method Nwidart#'
        - '#is used zero times and is not analysed#'
        - "#^Unsafe usage of new static#"
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: larastan.noEnvCallsOutsideOfConfig
        - '#Static property .*::\$view \(view-string\) does not accept default value of type string#'
        - '#Call to internal method Illuminate\\Contracts\\Debug\\ExceptionHandler::renderForConsole\\(\\)#'
        - '#Class Amenadiel\\\\JpGraph\\\\Graph not found#'
        - '#Class Amenadiel\\\\JpGraph\\\\Plot\\\\LinePlot not found#'
        - '#Class Amenadiel\\\\JpGraph\\\\Graph\\\\Graph not found#'
        - '#Method .*::execute\(\) has invalid return type Amenadiel\\\\JpGraph\\\\Graph#'
        - '#Method .*::execute\(\) should return Amenadiel\\\\JpGraph\\\\Graph but returns Amenadiel\\\\JpGraph\\\\Graph\\\\Graph#'
        - '#Template type TDeclaringModel on class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo is not covariant#'
        - '#Template type TDeclaringModel on class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo is not covariant#'
        - '#Method .*::linked\(\) should return .* but returns .*\$this\(.*\)#'
        - '#Method .*::placeType\(\) should return .* but returns .*\$this\(.*\)#'
        - '#Method .*::address\(\) should return .* but returns .*\$this\(.*\)#'
        - '#Call to internal method Illuminate\\\\Contracts\\\\Debug\\\\ExceptionHandler::renderForConsole\(\) from outside its root namespace Illuminate#'
        


    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Tests/*
        - ./*/tests/*
        - ./*/phpinsights.php
        - ./*/rector.php
        - ./Modules/*/packages/*
        - ./Modules/Activity/*
        - ./Modules/Xot/app/Filament/Traits/HasXotTable.php
        - ./*.blade.php
        



    bootstrapFiles:
        - ./phpstan_constants.php
        - ./vendor/amenadiel/jpgraph/src/config.inc.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: /tmp/phpstan

    checkUnusedViews: false
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkOctaneCompatibility: false
