parameters:
    level: 10
    paths:
        - app
        - tests
    excludePaths:
        - database/migrations
    
    # Ignora solo errori di migrazione
    ignoreErrors:
        # Ignora errori temporanei durante la migrazione
        - '#Call to an undefined method.*renameColumn#'
        - '#Call to an undefined method.*dropIndex#' 