# Dependencies
vendor/
node_modules/
package-lock.json

# Build and compiled files
/build
cache/
docs/cache/

# Cache and temporary files
*.cache
*.lock
*.phar
*.exe
*:Zone.Identifier
.php-cs-fixer.cache

# Git related
.git-rewrite/
.git-blame-ignore-revs

# Backup files
*.old
*.old1
*.backup
*.bak

# File di log
*.log

# PHPStan documentation
docs/phpstan/
